.contacts {
  outline:2px solid black;
  min-height:615px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media($tablet) {
    justify-content: space-around;
  }

  @media($mobile) {
    flex-direction: column;
  }


  @media($tablet) {
    min-height:775px;
    flex-direction: row;
  }

  @media($desktop) {
  min-height:870px;
  }
}

.contacts__title {
  @media($tablet){
      width:100%;
  }
}

.contacts__subtitle {
  @media($tablet){
    width:100%;
  }
}

.contacts__map {
  width:100%;
}

.contacts__block {
  width:50%;
}
