.contact-form {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  @media($tablet) {
    min-height: 330px;
    order:-4;
  }
  @media($desktop) {
    min-height: 160px;
    width:100%;
  }
}
