.information {
  min-height:1000px;
  outline:2px solid blue;

  @media($tablet) {
  min-height:720px;
  }

  @media($desktop) {
  min-height:915px;
  }
}

.information__block {
  outline:1px solid black;
  min-height:140px;
}

.information__title {
  margin-bottom:130px;
}
