.logo {
  width:75px;
  height:22px;
  background:white;
  outline:1px solid black;

  @media($tablet) {
    width:150px;
    min-height:40px;
  }
  @media($desktop) {
    width:150px;
    min-height:40px;
  }
}
