.main-nav__menu {
  min-height:325px;
  display: none;

  @media($tablet) {
    min-height:365px;
  }

  @media($desktop) {
  min-height:65px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:615px;
  }
}

.main-nav__close {
  display:none;
}

.main-nav__burger {
  @media($desktop){
    display:none;
  }
}
