.page-info {


min-height:237px;
@media($tablet){
  min-height: 440px;
}
@media($desktop){
  min-height: 394px;
}

}

.photopage-info {
  text-align: center;
  min-height:50px;
  margin-top:20px;
  @media($tablet){
    min-height: 331px;
  }
  @media($desktop){
    min-height: 287px;
  }

}

.page-info__title {
  color:#ffffff;
}
