.page-footer {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  min-height: 290px;
  @media($tablet) {
    min-height: 130px;
    flex-direction: row;
  }
  @media($desktop) {
    min-height: 200px;
    flex-direction: row;
  }
  @media($mobile){
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
  }
}
.page-footer__mobile {
  @media($mobile) {
    display: none;
  }
}
