.page {
  @media($mobile){
    background:url('pink.png') no-repeat top center;
  }
  @media($tablet){
    background:url('pink-t.png') no-repeat top center;
  }
  @media($desktop){
    background:url('pink-d.png') no-repeat top center;
  }
}
