.photostream {

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media($tablet){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}

.photostream__text {
  width:100%;
  align-self: center;
  font:$font-14n;
  @media($tablet){
    font:$font-18n;
  }
}



.photostream__panorama {
  min-height: 192px;
margin-bottom: 20px;
  background: $bg-color;
  @media($tablet){

  }
  @media($desktop){

  }
}

.photostream__panorama--photo {
  display:flex;
}
