.radio-form {
  min-height: 340px;
  display: flex;
  flex-direction: column;
  @media($tablet) {
    min-height: 340px;
    order:-5;

  }
  @media($desktop) {
    width: 420px;
    min-height: 300px;
    display: inline-block;
  }
  }

  .control-indicator2 {
    position: absolute;

    left: 0;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border:2px solid $bg-color;

    text-align: center;
    background-color: #ffffff;

  }
