.review {

  min-height:350px;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  position: relative;
  @media($desktop){
    min-height:426px;
    background: url(../img/icon-quotes.svg) no-repeat top center;
    margin-top: 70px;
  }
}

.review__prev-next {

  @media($mobile){
    display:none;
  }
  @media($tablet){
    display:none;
  }
@media($desktop){
  display:block;
  width:100%;
  font-size: 0px;
  height:50px;
  position:absolute;
  top:50%;
  margin-top:-25px;
}
}

.review__next {
  position:absolute;
  width:50px;
  height:50px;
  left:100%;
  margin-left:-50px;
  background: url(../img/icon-review-arrow-right.svg) no-repeat 100%;
}


.review__prev {
  position:absolute;
  width:50px;
  height:50px;
  background: url(../img/icon-review-arrow-left.svg) no-repeat center left;
}
.review__slider {
  @media($desktop){
    display: none;
  }
}
