.round-diagram {


  @media($mobile) {
    display: none;
  }
  @media($tablet) {
    min-height:360px;
  }
  @media($desktop) {
    min-height: 415px;
  }
}
.round-diagram__illustration {
  background: url(../img/icon-timer.svg) no-repeat left bottom;
  display: inline-block;
  @media($tablet) {
    width: 240px;
    height:276px;
    background-size: contain;
  }
  @media($desktop) {
    width: 302px;
    height:347px;
  }
}
.round-diagram__desc {

  float: right;
  min-height: 220px;
  @media($tablet) {
    width: 310px;
  }
  @media($desktop) {
    width: 570px;
    margin-top:50px;
  }
}
