.text-form {
  width:280px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0;
  margin:0;
  box-sizing: border-box;
  @media($tablet) {
    min-height: 350px;
    order:-5;
  }
  @media($desktop) {
    width: 420px;
    min-height: 300px;
    display: inline-block;
  }
}

fieldset {
  border:none;
  border-color:transparent;
}
