.wrapper {
  width:280px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

  @media($tablet) {
    width:620px;
  }
  @media($desktop) {
    width:940px;
  }
}

.wrapper__panorama {
position:relative;
margin:0 auto;
z-index: 2;
left:0;
}
